/* --common --*/
body { font-family: 'Mitr', sans-serif;
    background: #ffffff;
    margin: 0;
    padding: 0;}
/* .section-title {
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 24px;
    }
.container {
      width: 100%;
      max-width: 1200px;
      margin: 0px auto;
      padding: 24px;
    }
@media screen and (max-width: 512px){
      .container {
        padding: 0 12px;
      }
    } */
/* --menu bar -- */
.lg { width: 200px; padding: 10px;}

nav { display: flex;
  height: auto;
  background: #7b994e;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.nav-toggle {
position: absolute;
top: 20px;
left: 20px;
font-size: 30px;
display: inline-block;
cursor: pointer;
}

ul {
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
  display: none;
}

ul li {
  list-style-type:none ;
  font-size: 15px;
  cursor: pointer;
  margin: 20px;
  text-align: center;
  border-bottom-style:solid ;
  border-bottom-color:#ccc ;
  border-bottom-width:1px ;
  padding: 5px 50px;
}
ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
ul li:first-child {
    margin-top: 0;
}
ul li:hover {
    color: gray;
    opacity: 0.5;
}
.active{
  
    display: flex;
}
@media screen and (min-width: 512px){
    nav{
        height: 80px;
        flex-direction: row;
    }
    .logo{
        padding-left: 50px;
        margin: 0;
        width: 20%;
    }
    ul {display: flex;
        justify-content: flex-end;
        width: 80%;
        flex-direction: row;
      }

      ul li {display: inline-block;
        margin: 0 70px 0 0;
        text-align: left;
        border-bottom-style:none ;
        padding: 0;
      }
      .nav-toggle {
          display: none;
      }
     
      
}
/* --cover-section-- */
.cover-section {
width: 100%;
}

/* --Activity-Section-- */
/* .activity-section {
  background-color: gray;
  margin-top: -31px;
  height: 300px;
}
.title-act { 
  text-align: center;
  color: white;
  padding-top: 30px;
}
.act-item {
  background-size: cover;
  background-position: 50% 82%;

}
.activity-items  {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr ;
  row-gap: 10px;
  columns: 10px;
  grid-template-areas: 
"first second third "
"first second third"
"first second third "
"first second third" ;
}
.activity-item1 {
background-image: url('../Main-Home-Page/image/act-item1.jpg');
grid-area: first;
}
.activity-item2 {
  background-image: url('../Main-Home-Page/image/act-item1.jpg');
grid-area: second;
  }
.activity-item3 {
  background-image: url('../Main-Home-Page/image/act-item1.jpg');
  grid-area: third;
    }
.actsee-all {
  padding-top: 10px;
  text-align: center;
}
.act-text {
  font-size: 10px;
  font-weight: 300px;
  margin-top: 8px;

} */
.activity-item {
  width: 100%;
}
.activity-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 16px;
  column-gap: 32px;
  justify-self: center;
  
}
/* --Review-section-- */




/* --Interview-section-- */
